.u-section-1 .u-image-1 {
  min-height: 404px;
  background-image: url("images/LessisMore.svg");
  background-position: 50% 50%;
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 277px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 196px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 658px;
}

.u-section-2 .u-group-1 {
  width: 800px;
  min-height: 576px;
  margin: 75px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 0;
}

.u-section-2 .u-text-1 {
  margin: 31px 30px 0;
}

.u-section-2 .u-text-2 {
  margin: 30px auto -10px 30px;
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-3 .u-image-1 {
  width: 539px;
  height: 300px;
  margin: 0 auto;
}

.u-section-3 .u-social-icons-1 {
  height: 32px;
  width: 122px;
  margin: 30px auto 0;
}

.u-section-3 .u-icon-1 {
  height: 100%;
}

.u-section-3 .u-icon-2 {
  height: 100%;
  background-image: none;
}

.u-section-3 .u-icon-3 {
  height: 100%;
  background-image: none;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-social-icons-1 {
    min-height: 16px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 189px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 593px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 873px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 445px;
  filter: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-image-1 {
  width: 168px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 445px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  height: 218px;
  margin: 0;
}

.u-section-4 .u-form-group-1 {
  margin-left: auto;
}

.u-section-4 .u-input-1 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-2 {
  margin-left: auto;
}

.u-section-4 .u-input-2 {
  font-size: 1.25rem;
}

.u-section-4 .u-form-group-3 {
  margin-left: auto;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  margin-left: auto;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  letter-spacing: 2px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-size: cover;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 367px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 29px;
    margin-bottom: 29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 718px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 452px;
  }
}